[submodule "themes/loveit"]
	path = themes/loveit
	url = https://github.com/dillonzq/LoveIt.git
[submodule "themes/osm"]
	path = themes/osm
	url = https://github.com/Hanzei/hugo-component-osm.git
[submodule "themes/apsho"]
	path = themes/apsho
	url = https://github.com/StaticMania/hugo-apsho.git
