<form
    action="https://getform.io/f/ce122da7-6c87-4190-8b39-07e5d3caf246" method="POST">

    <fieldset style="border: solid 0px;">
        <div style="overflow-x:auto;">
            <table>
                <tr>
                    <td align="right">Il tuo nome:</td>
                    <td align="left"><input type="text" style="width:100%;" name="name"></td>
                </tr>
                <tr>
                    <td align="right">La tua email:</td>
                    <td align="left"><input type="email" style="width:100%" name="email"></td>
                </tr>
                <tr>
                    <td align="right">Il tuo messaggio:</td>
                    <td align="left"><textarea style="width:100%;" name="message" rows="10"></textarea></td>
                </tr>
            </table>
        </div>
        <div align="center">
            <button type="submit"
                style="
                    background-color: transparent;
                    border-style: groove;
                    border-radius: 10px;
                    color: inherit;
                    padding: 8px 15px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;">
                Invia
            </button>
        </div>
    </fieldset>
</form>
